{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "API Governance",
    "version" : "1.0"
  },
  "servers" : [ {
    "url" : "https://gcp-api.apiwiz.io/v1/astrum",
    "x-name" : "Server1"
  }, {
    "url" : "https://gcp-api.apiwiz.io/",
    "x-name" : "Server2"
  }, {
    "url" : "https://uat-api.apiwiz.io/",
    "x-name" : "Server3"
  } ],
  "paths" : {
    "/format" : {
      "post" : {
        "tags" : [ "API Governance" ],
        "summary" : "formatSwaggerFile",
        "operationId" : "formatSwaggerFile",
        "parameters" : [ {
          "name" : "JSESSIONID",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "{{jsessionid}}"
        }, {
          "name" : "interactionid",
          "in" : "header",
          "schema" : {
            "type" : "string"
          },
          "example" : "123"
        } ],
        "requestBody" : {
          "content" : {
            "multipart/form-data" : {
              "schema" : {
                "properties" : {
                  "swaggerFile" : {
                    "type" : "string",
                    "example" : "api-monitoring-revision-2.json"
                  }
                }
              }
            }
          }
        },
        "responses" : {
          "200" : {
            "description" : "Response for endpoint POST-v1/astrum/format",
            "headers" : {
              "date" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-length" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "server" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "expires" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-envoy-upstream-service-time" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "vary" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-frame-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "pragma" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "strict-transport-security" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-content-type-options" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "x-xss-protection" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "content-type" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              },
              "cache-control" : {
                "description" : "response header",
                "schema" : {
                  "type" : "string"
                }
              }
            },
            "content" : {
              "*/*" : {
                "schema" : {
                  "required" : [ "components", "info", "openapi", "paths", "security", "servers", "tags", "x-metadata", "x-mock", "x-original-swagger-version", "x-servers" ],
                  "type" : "object",
                  "properties" : {
                    "openapi" : {
                      "type" : "string"
                    },
                    "info" : {
                      "required" : [ "title", "version" ],
                      "type" : "object",
                      "properties" : {
                        "title" : {
                          "type" : "string"
                        },
                        "version" : {
                          "type" : "string"
                        }
                      }
                    },
                    "servers" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "url", "x-name" ],
                        "type" : "object",
                        "properties" : {
                          "url" : {
                            "type" : "string"
                          },
                          "x-name" : {
                            "type" : "string"
                          }
                        }
                      }
                    },
                    "tags" : {
                      "type" : "array",
                      "items" : {
                        "required" : [ "description", "name" ],
                        "type" : "object",
                        "properties" : {
                          "name" : {
                            "type" : "string"
                          },
                          "description" : {
                            "type" : "string"
                          }
                        }
                      }
                    },
                    "paths" : {
                      "required" : [ "/certificates", "/certificates/overview", "/certificates/search", "/certificates/{cerName}/download", "/certificates/{certName}", "/collections", "/collections/slackChannels", "/collections/{collectionId}", "/collections/{collectionId}/requests", "/collections/{collectionId}/requests/{requestId}", "/collections/{collectionId}/requests/{requestId}/events/{eventId}", "/collections/{collectionId}/requests/{requestId}/schedulers/{schedulerId}", "/collections/{collectionId}/schedulers", "/collections/{collectionId}/sequence", "/collections/{collectionId}/variables", "/metadata", "/search", "/variables", "/variables/overview", "/variables/search", "/variables/{variableid}" ],
                      "type" : "object",
                      "properties" : {
                        "/collections" : {
                          "required" : [ "get", "post" ],
                          "type" : "object",
                          "properties" : {
                            "get" : {
                              "required" : [ "operationId", "parameters", "responses", "summary", "tags" ],
                              "type" : "object",
                              "properties" : {
                                "tags" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "summary" : {
                                  "type" : "string"
                                },
                                "operationId" : {
                                  "type" : "string"
                                },
                                "parameters" : {
                                  "type" : "array",
                                  "items" : {
                                    "required" : [ "example", "in", "name", "schema" ],
                                    "type" : "object",
                                    "properties" : {
                                      "name" : {
                                        "type" : "string"
                                      },
                                      "in" : {
                                        "type" : "string"
                                      },
                                      "schema" : {
                                        "required" : [ "type" ],
                                        "type" : "object",
                                        "properties" : {
                                          "type" : {
                                            "type" : "string"
                                          }
                                        }
                                      },
                                      "example" : {
                                        "type" : "string"
                                      }
                                    }
                                  }
                                },
                                "responses" : {
                                  "required" : [ "200" ],
                                  "type" : "object",
                                  "properties" : {
                                    "200" : {
                                      "required" : [ "content", "description", "headers" ],
                                      "type" : "object",
                                      "properties" : {
                                        "description" : {
                                          "type" : "string"
                                        },
                                        "headers" : {
                                          "required" : [ "cache-control", "content-type", "date", "expires", "pragma", "server", "strict-transport-security", "transfer-encoding", "vary", "x-content-type-options", "x-envoy-upstream-service-time", "x-frame-options", "x-xss-protection" ],
                                          "type" : "object",
                                          "properties" : {
                                            "date" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "server" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "expires" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-envoy-upstream-service-time" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "transfer-encoding" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "vary" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-frame-options" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "pragma" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "strict-transport-security" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-content-type-options" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-xss-protection" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "content-type" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "cache-control" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "content" : {
                                          "required" : [ "*/*" ],
                                          "type" : "object",
                                          "properties" : {
                                            "*/*" : {
                                              "required" : [ "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "schema" : {
                                                  "required" : [ "example", "properties", "required", "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "required" : {
                                                      "type" : "array",
                                                      "items" : {
                                                        "type" : "string"
                                                      }
                                                    },
                                                    "type" : {
                                                      "type" : "string"
                                                    },
                                                    "properties" : {
                                                      "required" : [ "data", "pagination" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "pagination" : {
                                                          "required" : [ "properties", "required", "type" ],
                                                          "type" : "object",
                                                          "properties" : {
                                                            "required" : {
                                                              "type" : "array",
                                                              "items" : {
                                                                "type" : "string"
                                                              }
                                                            },
                                                            "type" : {
                                                              "type" : "string"
                                                            },
                                                            "properties" : {
                                                              "required" : [ "offset", "pageSize", "total" ],
                                                              "type" : "object",
                                                              "properties" : {
                                                                "total" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "offset" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "pageSize" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        },
                                                        "data" : {
                                                          "required" : [ "items", "type" ],
                                                          "type" : "object",
                                                          "properties" : {
                                                            "type" : {
                                                              "type" : "string"
                                                            },
                                                            "items" : {
                                                              "required" : [ "properties", "required", "type" ],
                                                              "type" : "object",
                                                              "properties" : {
                                                                "required" : {
                                                                  "type" : "array",
                                                                  "items" : {
                                                                    "type" : "string"
                                                                  }
                                                                },
                                                                "type" : {
                                                                  "type" : "string"
                                                                },
                                                                "properties" : {
                                                                  "required" : [ "createdBy", "createdUserName", "cts", "description", "id", "latency", "modifiedBy", "modifiedUserName", "mts", "name", "summary", "uptime" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "id" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "cts" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "createdUserName" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "modifiedUserName" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "mts" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "createdBy" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "modifiedBy" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "name" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "summary" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "description" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "latency" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    },
                                                                    "uptime" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    },
                                                    "example" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    }
                                  }
                                }
                              }
                            },
                            "post" : {
                              "required" : [ "operationId", "parameters", "requestBody", "responses", "summary", "tags", "x-codegen-request-body-name" ],
                              "type" : "object",
                              "properties" : {
                                "tags" : {
                                  "type" : "array",
                                  "items" : {
                                    "type" : "string"
                                  }
                                },
                                "summary" : {
                                  "type" : "string"
                                },
                                "operationId" : {
                                  "type" : "string"
                                },
                                "parameters" : {
                                  "type" : "array",
                                  "items" : {
                                    "required" : [ "example", "in", "name", "schema" ],
                                    "type" : "object",
                                    "properties" : {
                                      "name" : {
                                        "type" : "string"
                                      },
                                      "in" : {
                                        "type" : "string"
                                      },
                                      "schema" : {
                                        "required" : [ "type" ],
                                        "type" : "object",
                                        "properties" : {
                                          "type" : {
                                            "type" : "string"
                                          }
                                        }
                                      },
                                      "example" : {
                                        "type" : "string"
                                      }
                                    }
                                  }
                                },
                                "requestBody" : {
                                  "required" : [ "content", "required" ],
                                  "type" : "object",
                                  "properties" : {
                                    "content" : {
                                      "required" : [ "application/json" ],
                                      "type" : "object",
                                      "properties" : {
                                        "application/json" : {
                                          "required" : [ "schema" ],
                                          "type" : "object",
                                          "properties" : {
                                            "schema" : {
                                              "required" : [ "additionalProperties", "description", "example", "properties", "required", "type" ],
                                              "type" : "object",
                                              "properties" : {
                                                "required" : {
                                                  "type" : "array",
                                                  "items" : {
                                                    "type" : "string"
                                                  }
                                                },
                                                "type" : {
                                                  "type" : "string"
                                                },
                                                "properties" : {
                                                  "required" : [ "description", "name", "notifications", "schedulers", "summary" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "name" : {
                                                      "required" : [ "type" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "type" : {
                                                          "type" : "string"
                                                        }
                                                      }
                                                    },
                                                    "summary" : {
                                                      "required" : [ "type" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "type" : {
                                                          "type" : "string"
                                                        }
                                                      }
                                                    },
                                                    "description" : {
                                                      "required" : [ "type" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "type" : {
                                                          "type" : "string"
                                                        }
                                                      }
                                                    },
                                                    "notifications" : {
                                                      "required" : [ "items", "type" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "type" : {
                                                          "type" : "string"
                                                        },
                                                        "items" : {
                                                          "required" : [ "properties", "required", "type" ],
                                                          "type" : "object",
                                                          "properties" : {
                                                            "required" : {
                                                              "type" : "array",
                                                              "items" : {
                                                                "type" : "string"
                                                              }
                                                            },
                                                            "type" : {
                                                              "type" : "string"
                                                            },
                                                            "properties" : {
                                                              "required" : [ "emails", "type" ],
                                                              "type" : "object",
                                                              "properties" : {
                                                                "type" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "emails" : {
                                                                  "required" : [ "items", "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    },
                                                                    "items" : {
                                                                      "required" : [ "type" ],
                                                                      "type" : "object",
                                                                      "properties" : {
                                                                        "type" : {
                                                                          "type" : "string"
                                                                        }
                                                                      }
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    },
                                                    "schedulers" : {
                                                      "required" : [ "items", "type" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "type" : {
                                                          "type" : "string"
                                                        },
                                                        "items" : {
                                                          "required" : [ "properties", "required", "type" ],
                                                          "type" : "object",
                                                          "properties" : {
                                                            "required" : {
                                                              "type" : "array",
                                                              "items" : {
                                                                "type" : "string"
                                                              }
                                                            },
                                                            "type" : {
                                                              "type" : "string"
                                                            },
                                                            "properties" : {
                                                              "required" : [ "environmentId", "environmentName", "id", "interval", "isPause", "timeout" ],
                                                              "type" : "object",
                                                              "properties" : {
                                                                "id" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "environmentName" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "environmentId" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "interval" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "isPause" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "timeout" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    }
                                                  }
                                                },
                                                "additionalProperties" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                },
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "example" : {
                                                  "type" : "string"
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "required" : {
                                      "type" : "boolean"
                                    }
                                  }
                                },
                                "responses" : {
                                  "required" : [ "201", "403", "500" ],
                                  "type" : "object",
                                  "properties" : {
                                    "201" : {
                                      "required" : [ "content", "description", "headers" ],
                                      "type" : "object",
                                      "properties" : {
                                        "description" : {
                                          "type" : "string"
                                        },
                                        "headers" : {
                                          "required" : [ "cache-control", "content-length", "content-type", "date", "expires", "pragma", "server", "strict-transport-security", "vary", "x-content-type-options", "x-envoy-upstream-service-time", "x-frame-options", "x-xss-protection" ],
                                          "type" : "object",
                                          "properties" : {
                                            "date" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "content-length" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "server" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "expires" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-envoy-upstream-service-time" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "vary" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-frame-options" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "pragma" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "strict-transport-security" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-content-type-options" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-xss-protection" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "content-type" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "cache-control" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "content" : {
                                          "required" : [ "*/*" ],
                                          "type" : "object",
                                          "properties" : {
                                            "*/*" : {
                                              "required" : [ "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "schema" : {
                                                  "required" : [ "example", "properties", "required", "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "required" : {
                                                      "type" : "array",
                                                      "items" : {
                                                        "type" : "string"
                                                      }
                                                    },
                                                    "type" : {
                                                      "type" : "string"
                                                    },
                                                    "properties" : {
                                                      "required" : [ "id" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "id" : {
                                                          "required" : [ "type" ],
                                                          "type" : "object",
                                                          "properties" : {
                                                            "type" : {
                                                              "type" : "string"
                                                            }
                                                          }
                                                        }
                                                      }
                                                    },
                                                    "example" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        }
                                      }
                                    },
                                    "403" : {
                                      "required" : [ "content", "description", "headers" ],
                                      "type" : "object",
                                      "properties" : {
                                        "description" : {
                                          "type" : "string"
                                        },
                                        "headers" : {
                                          "required" : [ "cache-control", "content-type", "date", "expires", "pragma", "server", "strict-transport-security", "transfer-encoding", "vary", "x-content-type-options", "x-envoy-upstream-service-time", "x-frame-options", "x-xss-protection" ],
                                          "type" : "object",
                                          "properties" : {
                                            "date" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "server" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "expires" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-envoy-upstream-service-time" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "transfer-encoding" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "vary" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-frame-options" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "pragma" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "strict-transport-security" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-content-type-options" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "x-xss-protection" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "content-type" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            },
                                            "cache-control" : {
                                              "required" : [ "description", "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "description" : {
                                                  "type" : "string"
                                                },
                                                "schema" : {
                                                  "required" : [ "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "type" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
                                              }
                                            }
                                          }
                                        },
                                        "content" : {
                                          "required" : [ "*/*" ],
                                          "type" : "object",
                                          "properties" : {
                                            "*/*" : {
                                              "required" : [ "schema" ],
                                              "type" : "object",
                                              "properties" : {
                                                "schema" : {
                                                  "required" : [ "example", "properties", "required", "type" ],
                                                  "type" : "object",
                                                  "properties" : {
                                                    "required" : {
                                                      "type" : "array",
                                                      "items" : {
                                                        "type" : "string"
                                                      }
                                                    },
                                                    "type" : {
                                                      "type" : "string"
                                                    },
                                                    "properties" : {
                                                      "required" : [ "error" ],
                                                      "type" : "object",
                                                      "properties" : {
                                                        "error" : {
                                                          "required" : [ "properties", "required", "type" ],
                                                          "type" : "object",
                                                          "properties" : {
                                                            "required" : {
                                                              "type" : "array",
                                                              "items" : {
                                                                "type" : "string"
                                                              }
                                                            },
                                                            "type" : {
                                                              "type" : "string"
                                                            },
                                                            "properties" : {
                                                              "required" : [ "statusCode", "userMessage" ],
                                                              "type" : "object",
                                                              "properties" : {
                                                                "userMessage" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                },
                                                                "statusCode" : {
                                                                  "required" : [ "type" ],
                                                                  "type" : "object",
                                                                  "properties" : {
                                                                    "type" : {
                                                                      "type" : "string"
                                                                    }
                                                                  }
                                                                }
                                                              }
                                                            }
                                                          }
                                                        }
                                                      }
                                                    },
                                                    "example" : {
                                                      "type" : "string"
                                                    }
                                                  }
                                                }
[...]
